.d-flex{
    display: flex;
}

body{
    background-color: #E0B4FF;
}

* {
    margin: 0;
    padding: 0;
}

#page1 img {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}

#page1 {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h2{

    margin-top: 1.5em;
    font-size: 4rem;
    text-align: center;
}

#page1 h1{
    margin-top: .5em;
    font-size: 5rem;
    text-align: center;
}

#page2{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "p2-header p2-header"
    "p2-info p2-photos"
    "p2-footer p2-footer";
    grid-template-columns: auto auto;
}

#page2 *{
    font-size: 2.5rem;
}

#page2 #btns{
    text-align: end;
    grid-area: p2-header;
}

#page2 .p2-info{
    grid-area: p2-info;
}



#page2 .p2-photos{
    grid-area: p2-photos;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.placeholder{
    text-align: center;
    text-justify: center;
    border-radius: 50%;
    font-size: 3.43rem !important;
    width: 5.45em;
    height: 5.45em;
    background-color: #D9D9D9;
}

.p2-footer{
    grid-area: p2-footer;
}